.primary-color-one {
    background-color: #ec008c
}
.primary-color-two {
    background-color: #000
}
.primary-color-three {
    background-color: gray
}
.primary-color-four {
    background-color: #2fbbf9
}